.hidden_options {
    max-height: 0px;
    margin: 0px auto 20px auto;
    overflow-y: auto;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.visible_options {
    max-height: 100px;
    margin: 0px auto 200px auto;
    overflow-y: auto;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.payment_btn:hover {
	-webkit-box-shadow: 1px 1px 0 0 #05064c, 2px 2px 0 0 #05064c, 3px 3px 0 0 #05064c;
	box-shadow: 1px 1px 0 0 #05064c, 2px 2px 0 0 #05064c, 3px 3px 0 0 #05064c;
}

